#navbar{
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: ". Gmail Images menu sign-in";
}

#Gmail{
    grid-area: Gmail;
    justify-self: center;
    align-self: center;
}

#Images{
    grid-area: Images;
    justify-self: center;
    align-self: center;
}

#menu{
    grid-area: menu;
    justify-self: center;
    align-self: center;
}

#sign-in{
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-family: arial, sans-serif;
    font-size: 13px;
}