a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-family: arial, sans-serif;
    font-size: 13px;
}

#navbar{
    display: flex;
    justify-content:flex-end;
}
/* footer */
#footer{
    display: flex;
    background-color: rgb(242, 242, 242);
}

#footer a{
    color:rgb(112, 117, 122) ;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

@media(max-width:1000px){
    #footer{
        flex-direction: column;
    }
}
/* ///////*/